[submodule "qc-pipelines"]
	path = qc-pipelines
	url = https://github.com/smaht-dac/qc-pipelines
[submodule "shared-pipelines"]
	path = shared-pipelines
	url = https://github.com/smaht-dac/shared-pipelines
[submodule "sentieon-pipelines"]
	path = sentieon-pipelines
	url = https://github.com/smaht-dac/sentieon-pipelines
[submodule "alignment-pipelines"]
	path = alignment-pipelines
	url = https://github.com/smaht-dac/alignment-pipelines
[submodule "smaht-pipeline-utils"]
	path = smaht-pipeline-utils
	url = https://github.com/smaht-dac/smaht-pipeline-utils
[submodule "rnaseq-pipelines"]
	path = rnaseq-pipelines
	url = https://github.com/smaht-dac/rnaseq-pipelines
